
body {

text-align: center;
background: #C6FFDD;  
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
padding-top: 15px;
padding-bottom: 15px;


}


.form_dekoration{
background: rgba(247, 250, 234, 0.8);
height: 150px;
display: flex;
justify-content: space-around;
align-items: center;
}

input{
  border-radius: 100px;
  border: 1px solid #21ff72;
  width: 450px;
  height: 80px;
  padding: 20px;
}

.search-form button{
  margin-left: 20px;
}


.button-33 {
  
  width: 200px;
  height: 60px;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  //display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.gallery{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 2rem;
    
}